<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <form class="page-form" [formGroup]="timetableForm" (ngSubmit)="updateTimetable()">

        <h4 class="mb-3">Timetable Details</h4>

        <div class="row">
            <div class="col-md-6">

                <div class="row mb-1">
                    <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Timetable ID :</label></div>
                    <div class="col-md-8">
                        <input formControlName="timetableCode" class="form-control form-control-sm w-100">
                    </div>
                </div>

                <div class="row mb-1">
                    <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Timetable Name :</label></div>
                    <div class="col-md-8">
                        <input formControlName="timetableName" class="form-control form-control-sm w-100">
                    </div>
                </div>


                <div class="row mb-3">
                    <div class="col-md-4"><label class="float-md-end float-sm-start mt-1">Term :</label></div>
                    <div class="col-md-8">
                        <div class="input-group input-group-sm w-100">
                            <input formControlName="term" class="form-control">
                            <button type="button" class="btn btn-secondary" (click)="openTermWindow()">
                                <i class="bi bi-three-dots"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div *ngIf="!isTimetableLoading" class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/timetable/all-timetable">Cancel</button>
                        <button [disabled]="isTimetableDeleting" type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="confirmDelete()">Delete</button>
                        <button [disabled]="isTimetableSaving" type="submit" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn">Save</button>
                    </div>
                </div>
                <div *ngIf="isTimetableLoading" class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-sm float-end ms-1 btn-light page-form-btn">
                            <div class="spinner-grow spinner-grow-sm" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </button>
                    </div>
                </div>

            </div>

            <div class="col-md-6">

                <!-- timetable classes component -->

                <!-- <app-timetable-classes #timetableClassesComponentReference></app-timetable-classes> -->

            </div>
        </div>

        <hr class="top-divider" />
        <hr class="bottom-divider" />

    </form>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal #deleteModalComponentReference (confirmEvent)="deleteTimetable()"></app-delete-modal>

<!-- select term window component -->

<app-select-term #selectTermComponentReference (rowSelected)="onTermSelected($event)"></app-select-term>

