<app-module-topnav [headings]="navHeading"></app-module-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-8">

            <div class="row billing-form">
                <div class="col-md-9">

                    <h3 class="mb-3">Subscription Details</h3>

                    <div class="row mb-2">
                        <div class="col-md-4"><label>Subscription Type :</label></div>
                        <div class="col-md-8">
                            <select [(ngModel)]="subscriptionTypeValue" class="form-control form-control-sm w-100" (change)="setSubscription($any($event.target).value)">
                                <option *ngFor="let subscription of subscriptionSource">{{subscription}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-4"><label>Billing Frequency :</label></div>
                        <div class="col-md-8">
                            <select [(ngModel)]="billingFrequencyValue" [disabled]="isFrequencyDisabled" class="form-control form-control-sm w-100" (change)="setFrequency($event)">
                                <option *ngFor="let frequency of frequencySource">{{frequency}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-4"><label>No. of Users :</label></div>
                        <div class="col-md-4">
                            <input [(ngModel)]="numberUsersValue" type="number" [step]="numberUsersStep" [disabled]="isnumberUsersDisabled" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <hr />

                    <div class="row mb-2">
                        <div class="col-md-4"><label>First Name :</label></div>
                        <div class="col-md-8">
                            <input [(ngModel)]="firstNameValue" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-4"><label>Last Name :</label></div>
                        <div class="col-md-8">
                            <input [(ngModel)]="firstNameValue" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="col-md-4"><label>Email :</label></div>
                        <div class="col-md-8">
                            <input [(ngModel)]="firstNameValue" class="form-control form-control-sm w-100">
                        </div>
                    </div>

                </div>
            </div>

            <hr />

            <div *ngIf="!isSubscriptionLoading" class="row mb-3 page-form">
                <div class="col-md-9">
                    <button class="btn btn-secondary btn-sm float-end page-form-btn" (click)="updateSubscription()">Save</button>
                </div>
            </div>
            <div *ngIf="isSubscriptionLoading" class="row mb-3 page-form">
                <div class="col-md-9">
                    <button type="button" class="btn btn-sm float-end ms-1 btn-light page-form-btn">
                        <div class="spinner-grow spinner-grow-sm" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </button>
                </div>
            </div>

        </div>

        <div class="col-md-4">

            <div class="row mb-3">
                <div class="col">
                    <button class="btn btn-secondary float-end nr-standard-font" routerLink="/home/settings/payments-history">
                        <i class="bi bi-arrow-left-right me-2"></i> Billing History
                    </button>
                </div>
            </div>

            <div class="card shadow">
                <div class="card-body">

                    <p class="h4">Billing Summary</p>

                    <hr />

                    <div *ngIf="selectedSubscription=='Individual'">
                        <p class="h5 mb-2">Individual Subscription</p>
                        <p class="m-0">Single User</p>
                        <p class="m-0">Free Upgrades</p>
                        <!-- <p class="m-0">1GB Storage</p> -->
                    </div>
                    <div *ngIf="selectedSubscription=='Small Team'">
                        <p class="h5 mb-2">Small Team Subscription</p>
                        <p class="m-0">10 Users</p>
                        <p class="m-0">Free Upgrades</p>
                        <p class="m-0">Technical Support</p>
                        <!-- <p class="m-0">50GB Storage</p> -->
                    </div>
                    <div *ngIf="selectedSubscription=='Large Team'">
                        <p class="h5 mb-2">Large Team Subscription</p>
                        <p class="m-0">50 Users</p>
                        <p class="m-0">Free Upgrades</p>
                        <p class="m-0">Technical Support</p>
                        <!-- <p class="m-0">2TB Storage</p> -->
                    </div>
                    <div *ngIf="selectedSubscription=='Comprehensive'">
                        <p class="h5 mb-2">Comprehensive Subscription</p>
                        <p class="m-0">Single User</p>
                        <p class="m-0">Free Upgrades</p>
                        <p class="m-0">Technical Support</p>
                        <!-- <p class="m-0">Unlimited Storage</p> -->
                        <p class="m-0">Customized Functions</p>
                    </div>

                    <br />

                    <div *ngIf="selectedSubscription=='Individual'">
                        <p class="h5"><strong>Free</strong></p>
                    </div>
                    <div *ngIf="selectedSubscription=='Small Team'">
                        <div *ngIf="selectedFrequency=='Monthly'">
                            <p class="h5 mb-2">Monthly Plan</p>
                            <p class="h4 m-0"><strong>GHS 150</strong></p>
                        </div>
                        <div *ngIf="selectedFrequency=='Yearly'">
                            <p class="h5 mb-2">Yearly Plan</p>
                            <p class="h4 m-0"><strong>GHS 1,500</strong></p>
                            <p class="m-0">Save GHS 300 per 10 Users</p>
                        </div>
                    </div>
                    <div *ngIf="selectedSubscription=='Large Team'">
                        <div *ngIf="selectedFrequency=='Monthly'">
                            <p class="h5 mb-2">Monthly Plan</p>
                            <p class="h4 m-0"><strong>GHS 500</strong></p>
                        </div>
                        <div *ngIf="selectedFrequency=='Yearly'">
                            <p class="h5 mb-2">Yearly Plan</p>
                            <p class="h4 m-0"><strong>GHS 5,000</strong></p>
                            <p class="m-0">Save GHS 1,000 per 50 Users</p>
                        </div>
                    </div>
                    <div *ngIf="selectedSubscription=='Comprehensive'">
                        <button class="btn btn-primary">Contact Us</button>
                    </div>

                    <br />

                    <div *ngIf="selectedSubscription=='Small Team'">
                        <div *ngIf="selectedFrequency=='Monthly'">
                            <p class="mb-2">Total Bill :</p>
                            <p class="h3 m-0">
                                ${{150 * (numberUsersValue / 10)}} / month
                            </p>
                        </div>
                        <div *ngIf="selectedFrequency=='Yearly'">
                            <p class="mb-2">Total Bill :</p>
                            <p class="h3 m-0">
                                ${{1500 * (numberUsersValue / 10)}} / year
                            </p>
                        </div>
                    </div>
                    <div *ngIf="selectedSubscription=='Large Team'">
                        <div *ngIf="selectedFrequency=='Monthly'">
                            <p class="mb-2">Total Bill :</p>
                            <p class="h3 m-0">
                                ${{500 * (numberUsersValue / 50)}} / month
                            </p>
                        </div>
                        <div *ngIf="selectedFrequency=='Yearly'">
                            <p class="mb-2">Total Bill :</p>
                            <p class="h3 m-0">
                                ${{5000 * (numberUsersValue / 50)}} / year
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
