<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectScheduleModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectScheduleModal" tabindex="-1" aria-labelledby="selectScheduleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectScheduleModalLabel">Select Personal Schedule</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="40%">
                                Schedule
                                <i *ngIf="sortParams.field != 'schedule_name'" class="bi bi-filter float-end list-pointer" (click)="sortTable('schedule_name', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'schedule_name' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('schedule_name', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'schedule_name' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('schedule_name', 'desc')"></i>
                            </th>
                            <th width="20%">
                                Start Date
                                <i *ngIf="sortParams.field != 'start_date'" class="bi bi-filter float-end list-pointer" (click)="sortTable('start_date', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'start_date' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('start_date', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'start_date' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('start_date', 'desc')"></i>
                            </th>
                            <th width="15%">
                                Status
                                <i *ngIf="sortParams.field != 'status'" class="bi bi-filter float-end list-pointer" (click)="sortTable('status', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'status' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('status', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'status' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('status', 'desc')"></i>
                            </th>
                            <th width="25%">
                                Calendar
                                <i *ngIf="sortParams.field != 'calendar_name'" class="bi bi-filter float-end list-pointer" (click)="sortTable('calendar_name', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'calendar_name' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('calendar_name', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'calendar_name' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('calendar_name', 'desc')"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of schedulesGridData" (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.data().schedule_name}}</td>
                            <td>{{data?.data().start_date | date}}</td>
                            <td>{{data?.data().status}}</td>
                            <td>{{data?.data().calendar?.calendar_name}}</td>
                        </tr>
                        <tr *ngIf="isFetchingGridData" class="text-center">
                            <td colspan="4">
                                <div class="spinner-grow m-4" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!isDataAvailable && !isFetchingGridData" class="text-center">
                            <td colspan="4">
                                <p class="m-4">No data available</p>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="4">
                                <nav class="nav-light float-end" aria-label="Page navigation">
                                    <ul class="pagination pagination-sm mb-0 justify-content-end">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="First" (click)="previousPage($event)">
                                                <i class="bi bi-caret-left-fill"></i>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Current" (click)="$event.preventDefault()">
                                                {{pageNumber}}
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Last" (click)="nextPage($event)">
                                                <i class="bi bi-caret-right-fill"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-toggle="modal" data-bs-target="#selectScheduleModal">
                Launch demo modal
            </button>


        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
