<button [hidden]="true" #openButtonElementReference data-bs-toggle="modal" data-bs-target="#selectTableModal">
    Launch demo modal
</button>

<div class="modal fade select-table-modal" id="selectTableModal" tabindex="-1" aria-labelledby="selectTableModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="selectTableModalLabel">Select Restaurant Table</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="30%">
                                Table No.
                                <i *ngIf="sortParams.field != 'table_number'" class="bi bi-filter float-end list-pointer" (click)="sortTable('table_number', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'table_number' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('table_number', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'table_number' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('table_number', 'desc')"></i>
                            </th>
                            <th width="35%">
                                Table Type
                                <i *ngIf="sortParams.field != 'table_type'" class="bi bi-filter float-end list-pointer" (click)="sortTable('table_type', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'table_type' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('table_type', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'table_type' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('table_type', 'desc')"></i>
                            </th>
                            <th width="35%">
                                Table Status
                                <i *ngIf="sortParams.field != 'table_status'" class="bi bi-filter float-end list-pointer" (click)="sortTable('table_status', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'table_status' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('table_status', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'table_status' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('table_status', 'desc')"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of tablesGridData"  (dblclick)="selectRow(data)" class="table-pointer">
                            <td>{{data?.data().table_number}}</td>
                            <td>{{data?.data().table_type}}</td>
                            <td>{{data?.data().table_status}}</td>
                        </tr>
                        <tr *ngIf="isFetchingGridData" class="text-center">
                            <td colspan="3">
                                <div class="spinner-grow m-4" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!isDataAvailable && !isFetchingGridData" class="text-center">
                            <td colspan="3">
                                <p class="m-4">No data available</p>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="3">
                                <nav class="nav-light float-end" aria-label="Page navigation">
                                    <ul class="pagination pagination-sm mb-0 justify-content-end">
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="First" (click)="previousPage($event)">
                                                <i class="bi bi-caret-left-fill"></i>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Current" (click)="$event.preventDefault()">
                                                {{pageNumber}}
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Last" (click)="nextPage($event)">
                                                <i class="bi bi-caret-right-fill"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <button [hidden]="true" #closeButtonElementReference data-bs-toggle="modal" data-bs-target="#selectTableModal">
                Launch demo modal
            </button>

        </div>
    </div>
</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
