<button [hidden]="true" #editButtonElementReference data-bs-toggle="modal" data-bs-target="#editItemModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="editItemModal" tabindex="-1" aria-labelledby="editItemModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="editItemModalLabel">View Invitation</span>
                <button #dismissButtonElementReference type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div class="row mb-3">
                    <div class="col-md-3 text-muted"><label class="float-end"><em>Invitation Date :</em></label></div>
                    <div class="col-md-9">{{invitationData?.data().created_at.toDate() | date: 'MMMM d, y, hh:mm:ss a'}}</div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-3 text-muted"><label class="float-end"><em>Invitee :</em></label></div>
                    <div class="col-md-9">
                        <!-- <div class="col-md-2">
                            <img *ngIf="invitationData?.data().user.photo != null" [src]="personalUrl + invitation.user.photo" alt="" width="40" height="40" class="rounded-circle" />
                            <img *ngIf="invitationData?.data().user.photo == null" src="../../../../../assets/images/utilities/photo-avatar.jpg" alt="Company" width="40" height="40" class="rounded-circle" />
                        </div> -->
                        <div class="col-md-5">
                            <strong>{{invitationData?.data().user.data.first_name}} {{invitationData?.data().user.data.last_name}}</strong>
                        </div>
                        <!-- <div class="col-md-5 text-muted">
                            {{invitationData?.data().user.location}}
                        </div> -->
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-3 text-muted"><label class="float-end"><em>Invitation Status :</em></label></div>
                    <div class="col-md-9">{{invitationData?.data().invitation_status}}</div>
                </div>

                <div *ngIf="invitationData?.data().invitation_status == 'Awaiting'" class="row">
                    <div class="offset-md-3 col">
                        <button class="btn btn-secondary page-add-btn">Cancel Invitation</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
