<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-12">

            <div class="row mb-3">
                <div class="col-md-12">
                    <button [disabled]="isFetchingGridData" class="btn btn-light border float-end page-refresh-btn" (click)="getAccountDelivery()">
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>
                </div>
            </div>

            <table class="table table-bordered table-sm w-100 page-table">
                <thead>
                    <tr class="bg-light">
                        <th width="15%">
                            Delivery ID
                            <i *ngIf="sortParams.field != 'delivery_code'" class="bi bi-filter float-end list-pointer" (click)="sortTable('delivery_code', 'desc')"></i>
                            <i *ngIf="sortParams.field == 'delivery_code' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('delivery_code', 'asc')"></i>
                            <i *ngIf="sortParams.field == 'delivery_code' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('delivery_code', 'desc')"></i>
                        </th>
                        <th width="15%">
                            Delivery Date
                            <i *ngIf="sortParams.field != 'delivery_date'" class="bi bi-filter float-end list-pointer" (click)="sortTable('delivery_date', 'desc')"></i>
                            <i *ngIf="sortParams.field == 'delivery_date' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('delivery_date', 'asc')"></i>
                            <i *ngIf="sortParams.field == 'delivery_date' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('delivery_date', 'desc')"></i>
                        </th>
                        <th width="15%">
                            Order ID
                            <i *ngIf="sortParams.field != 'order_code'" class="bi bi-filter float-end list-pointer" (click)="sortTable('order_code', 'desc')"></i>
                            <i *ngIf="sortParams.field == 'order_code' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('order_code', 'asc')"></i>
                            <i *ngIf="sortParams.field == 'order_code' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('order_code', 'desc')"></i>
                        </th>
                        <th width="15%">
                            Order Date
                            <i *ngIf="sortParams.field != 'order_date'" class="bi bi-filter float-end list-pointer" (click)="sortTable('order_date', 'desc')"></i>
                            <i *ngIf="sortParams.field == 'order_date' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('order_date', 'asc')"></i>
                            <i *ngIf="sortParams.field == 'order_date' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('order_date', 'desc')"></i>
                        </th>
                        <th width="25%">
                            Delivery Location
                            <i *ngIf="sortParams.field != 'delivery_location'" class="bi bi-filter float-end list-pointer" (click)="sortTable('delivery_location', 'desc')"></i>
                            <i *ngIf="sortParams.field == 'delivery_location' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('delivery_location', 'asc')"></i>
                            <i *ngIf="sortParams.field == 'delivery_location' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('delivery_location', 'desc')"></i>
                        </th>
                        <th width="15%">
                            Delivery Status
                            <i *ngIf="sortParams.field != 'delivery_status'" class="bi bi-filter float-end list-pointer" (click)="sortTable('delivery_status', 'desc')"></i>
                            <i *ngIf="sortParams.field == 'delivery_status' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('delivery_status', 'asc')"></i>
                            <i *ngIf="sortParams.field == 'delivery_status' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('delivery_status', 'desc')"></i>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of deliveriesGridData" (dblclick)="viewDelivery(data.id)" class="table-pointer">
                        <td>{{data?.data().delivery_code}}</td>
                        <td>{{data?.data().delivery_date | date}}</td>
                        <td>{{data?.data().order.order_code}}</td>
                        <td>{{data?.data().order.order_date}}</td>
                        <td>{{data?.data().delivery_location}}</td>
                        <td>{{data?.data().delivery_status}}</td>
                    </tr>
                    <tr *ngIf="isFetchingGridData" class="text-center">
                        <td colspan="6">
                            <div class="spinner-grow m-4" role="status">
                                <span class="visually-hidden">Loading...</span>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="!isDataAvailable && !isFetchingGridData" class="text-center">
                        <td colspan="6">
                            <p class="m-4">No data available</p>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="bg-light">
                        <td colspan="6">
                            <nav class="nav-light float-end" aria-label="Page navigation">
                                <ul class="pagination pagination-sm mb-0 justify-content-end">
                                    <li class="page-item" [ngClass]="disablePrev ? 'disabled' : ''">
                                        <a class="page-link" href="#" aria-label="First" (click)="previousPage($event)">
                                            <i class="bi bi-caret-left-fill"></i>
                                        </a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" href="#" aria-label="Current" (click)="$event.preventDefault()">
                                            {{pageNumber}}
                                        </a>
                                    </li>
                                    <li class="page-item" [ngClass]="disableNext ? 'disabled' : ''">
                                        <a class="page-link" href="#" aria-label="Last" (click)="nextPage($event)">
                                            <i class="bi bi-caret-right-fill"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

</div>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
