<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row mb-3">
        <div class="col-md-12">
            <button class="btn btn-secondary page-add-btn" (click)="newDelivery.openModal()">New Delivery</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-10">

            <table class="table table-bordered table-sm w-100 page-table">
                <thead>
                    <tr class="bg-light">
                        <th width="15%">
                            Delivery ID
                            <app-table-sorting #deliveryCodeSortingComponentReference
                            [sortField]="'delivery_code'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                        <th width="20%">
                            Delivery Date
                            <app-table-sorting #deliveryDateSortingComponentReference
                            [sortField]="'delivery_date'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                        <th width="15%">
                            Order ID
                            <app-table-sorting #orderCodeSortingComponentReference
                            [sortField]="'order_code'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                        <th width="30%">
                            Delivery Location
                            <app-table-sorting #deliveryLocationSortingComponentReference
                            [sortField]="'delivery_location'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                        <th width="20%">
                            Delivery Status
                            <app-table-sorting #deliveryStatusSortingComponentReference
                            [sortField]="'delivery_status'" (sortDirection)="sortTable($event)"
                            ></app-table-sorting>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of deliveriesGridData; index as i" (dblClick)="openEditDelivery(i)" class="table-pointer">
                        <td>{{data?.delivery_code}}</td>
                        <td>{{data?.delivery_date | date}}</td>
                        <td>{{data?.order_code}}</td>
                        <td>{{data?.delivery_location}}</td>
                        <td>{{data?.delivery_status}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="bg-light">
                        <td colspan="5">
                            <app-table-pagination #tablePaginationComponentReference
                            [currentPage]="currentPage" [totalPages]="totalPages" (pageSelected)="getDeliveries()"
                            ></app-table-pagination>
                        </td>
                    </tr>
                </tfoot>
            </table>

        </div>
    </div>

</div>

<!-- new and edit delivery modal components -->

<app-new-delivery #newDeliveryComponentReference (saveDeliveryEvent)="postDelivery($event)"></app-new-delivery>

<app-edit-delivery #editDeliveryComponentReference (saveDeliveryEvent)="putDelivery($event)" (deleteDelivery)="confirmDelete($event)"></app-edit-delivery>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal #deleteModalComponentReference (confirmEvent)="deleteDelivery()"></app-delete-modal>
