<div class="row">
    <div class="col-md-8">

        <h4>Order Items</h4>

        <div class="row mb-3">
            <div class="col-md-12">
                <button class="btn btn-secondary page-add-btn" (click)="addItem.openModal()">Add Item</button>
            </div>
        </div>

        <table class="table table-bordered table-sm w-100 page-table">
            <thead>
                <tr class="bg-light">
                    <th width="45%">Menu Item</th>
                    <th width="20%">Price</th>
                    <th width="15%">Quantity</th>
                    <th width="20%">Total Price</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of itemsGridData; index as i" (dblClick)="openEditItem(i)">
                    <td>{{data?.menu_item}}</td>
                    <td>{{data?.price}}</td>
                    <td>{{data?.quantity}}</td>
                    <td>{{data?.price * data?.quantity}}</td>
                </tr>
                <tr class="bg-light">
                    <td colspan="3"></td>
                    <td>{{totalPrice}}</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

<!-- add and edit item modal components -->

<app-add-item #addItemComponentReference (saveItemEvent)="postItem($event)"></app-add-item>

<app-edit-item #editItemComponentReference (saveItemEvent)="putItem($event)" (deleteItem)="confirmDelete($event)"></app-edit-item>

<!-- connection error toast component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>

<!-- delete confirmation modal component -->

<app-delete-modal #deleteModalComponentReference (confirmEvent)="deleteItem()"></app-delete-modal>
