<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-10">

            <div class="row mb-3">
                <div class="col-md-12">
                    <button [disabled]="isFetchingGridData" class="btn btn-light border float-end page-refresh-btn" (click)="getAccountMenuItem()">
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>
                </div>
            </div>

            <div class="overflow-auto">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="15%" class="min-width-2">
                                Item ID
                                <i *ngIf="sortParams.field != 'item_code'" class="bi bi-filter float-end list-pointer" (click)="sortTable('item_code', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'item_code' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('item_code', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'item_code' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('item_code', 'desc')"></i>
                            </th>
                            <th width="30%" class="min-width-4">
                                Item Name
                                <i *ngIf="sortParams.field != 'item_name'" class="bi bi-filter float-end list-pointer" (click)="sortTable('item_name', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'item_name' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('item_name', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'item_name' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('item_name', 'desc')"></i>
                            </th>
                            <th width="15%" class="min-width-2">
                                Price
                                <i *ngIf="sortParams.field != 'price'" class="bi bi-filter float-end list-pointer" (click)="sortTable('price', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'price' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('price', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'price' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('price', 'desc')"></i>
                            </th>
                            <th width="20%" class="min-width-3">
                                Menu Group
                                <i *ngIf="sortParams.field != 'menu_group'" class="bi bi-filter float-end list-pointer" (click)="sortTable('menu_group', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'menu_group' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('menu_group', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'menu_group' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('menu_group', 'desc')"></i>
                            </th>
                            <th width="20%" class="min-width-2">
                                Category
                                <i *ngIf="sortParams.field != 'category'" class="bi bi-filter float-end list-pointer" (click)="sortTable('category', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'category' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('category', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'category' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('category', 'desc')"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of menuItemsGridData">
                            <td>{{data?.data().item_code}}</td>
                            <td>{{data?.data().item_name}}</td>
                            <td>{{data?.data().price}}</td>
                            <td>{{data?.data().menu_group.data.menu_group}}</td>
                            <td>{{data?.data().menu_group.data.category}}</td>
                        </tr>
                        <tr *ngIf="isFetchingGridData" class="text-center">
                            <td colspan="5">
                                <div class="spinner-grow m-4" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!isDataAvailable && !isFetchingGridData" class="text-center">
                            <td colspan="5">
                                <p class="m-4">No data available</p>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="5">
                                <nav class="nav-light float-end" aria-label="Page navigation">
                                    <ul class="pagination pagination-sm mb-0 justify-content-end">
                                        <li class="page-item" [ngClass]="disablePrev ? 'disabled' : ''">
                                            <a class="page-link" href="#" aria-label="First" (click)="previousPage($event)">
                                                <i class="bi bi-caret-left-fill"></i>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Current" (click)="$event.preventDefault()">
                                                {{pageNumber}}
                                            </a>
                                        </li>
                                        <li class="page-item" [ngClass]="disableNext ? 'disabled' : ''">
                                            <a class="page-link" href="#" aria-label="Last" (click)="nextPage($event)">
                                                <i class="bi bi-caret-right-fill"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
