<div class="row mb-2">
    <div class="col-md-12">
        <button class="btn btn-secondary float-end nr-standard-font" routerLink="/home/roster/manage-batches">
            <i class="bi bi-arrow-left-right me-2"></i> Manage Batches
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        <!-- TODO: roster sheet table -->

    </div>
</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
