<app-module-topnav [headings]="navHeading"></app-module-topnav>

<div class="container">

    <!-- table page form -->

    <app-table-form #tableFormComponentReference></app-table-form>

    <div class="row page-form">
        <div class="col-md-6">
            <button type="button" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" routerLink="/home/tables/all-tables">Cancel</button>
            <button [disabled]="isTableSaving" class="btn btn-secondary btn-sm float-end ms-1 page-form-btn" (click)="saveTable()">Save</button>
        </div>
    </div>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
