<app-module-topnav [headings]="navHeading" [showPrint]="true" (print)="onPrint()"></app-module-topnav>

<div class="container">

    <div class="row">
        <div class="col-md-8">

            <div class="row mb-3">
                <div class="col-md-12">
                    <button class="btn btn-secondary page-add-btn" routerLink="/home/parents/new-parent">New Parent</button>
                    <button [disabled]="isFetchingGridData" class="btn btn-light border float-end page-refresh-btn" (click)="getAccountParent()">
                        <i class="bi bi-arrow-clockwise"></i>
                    </button>
                </div>
            </div>

            <div class="overflow-auto">
                <table class="table table-bordered table-sm w-100 page-table">
                    <thead>
                        <tr class="bg-light">
                            <th width="25%" class="min-width-2">
                                Parent ID
                                <i *ngIf="sortParams.field != 'parent_code'" class="bi bi-filter float-end list-pointer" (click)="sortTable('parent_code', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'parent_code' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('parent_code', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'parent_code' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('parent_code', 'desc')"></i>
                            </th>
                            <th width="50%" class="min-width-4">
                                Parent Name
                                <i *ngIf="sortParams.field != 'parent_name'" class="bi bi-filter float-end list-pointer" (click)="sortTable('parent_name', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'parent_name' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('parent_name', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'parent_name' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('parent_name', 'desc')"></i>
                            </th>
                            <th width="25%" class="min-width-2">
                                Phone No.
                                <i *ngIf="sortParams.field != 'phone'" class="bi bi-filter float-end list-pointer" (click)="sortTable('phone', 'desc')"></i>
                                <i *ngIf="sortParams.field == 'phone' && sortParams.direction == 'desc'" class="bi bi-sort-down float-end list-pointer" (click)="sortTable('phone', 'asc')"></i>
                                <i *ngIf="sortParams.field == 'phone' && sortParams.direction == 'asc'" class="bi bi-sort-up float-end list-pointer" (click)="sortTable('phone', 'desc')"></i>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of parentsGridData" (dblclick)="viewParent(data.id)" class="table-pointer">
                            <td>{{data?.data().parent_code}}</td>
                            <td>{{data?.data().first_name}} {{data?.data().last_name}}</td>
                            <td>{{data?.data().phone}}</td>
                        </tr>
                        <tr *ngIf="isFetchingGridData" class="text-center">
                            <td colspan="3">
                                <div class="spinner-grow m-4" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </td>
                        </tr>
                        <tr *ngIf="!isDataAvailable && !isFetchingGridData" class="text-center">
                            <td colspan="3">
                                <p class="m-4">No data available</p>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr class="bg-light">
                            <td colspan="3">
                                <nav class="nav-light float-end" aria-label="Page navigation">
                                    <ul class="pagination pagination-sm mb-0 justify-content-end">
                                        <li class="page-item" [ngClass]="disablePrev ? 'disabled' : ''">
                                            <a class="page-link" href="#" aria-label="First" (click)="previousPage($event)">
                                                <i class="bi bi-caret-left-fill"></i>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="#" aria-label="Current" (click)="$event.preventDefault()">
                                                {{pageNumber}}
                                            </a>
                                        </li>
                                        <li class="page-item" [ngClass]="disableNext ? 'disabled' : ''">
                                            <a class="page-link" href="#" aria-label="Last" (click)="nextPage($event)">
                                                <i class="bi bi-caret-right-fill"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>

</div>

<!-- connection error prompt component -->

<app-connection-toast #connectionToastComponentReference></app-connection-toast>
