<button [hidden]="true" #buttonElementReference data-bs-toggle="modal" data-bs-target="#newDeliveryModal">
    Launch demo modal
</button>

<div class="modal fade form-modal" id="newDeliveryModal" tabindex="-1" aria-labelledby="newDeliveryModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header bg-light">
                <span class="modal-title" id="newDeliveryModalLabel">New Delivery</span>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <!-- item form component -->

                <app-delivery-form #deliveryFormComponentReference></app-delivery-form>

            </div>

            <div class="modal-footer">
                <button class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal" (click)="saveDelivery()">Save</button>
                <button class="btn btn-sm btn-secondary modal-form-btn" data-bs-dismiss="modal">Cancel</button>
            </div>

        </div>
    </div>
</div>
